chardet
hdf5plugin
h5py
tables
mido
requests
psutil
numpy
pandas
scipy
matplotlib
jupyterlab
ipywidgets
librosa
mir_eval
ray
tensorflow
tensorboard
gradio
typing-extensions==4.5.0
pydantic<2
pydantic-core<2
pillow
-e .
