chardet==5.2.0
hdf5plugin==4.4.0
h5py==3.9.0
tables==3.9.2
mido==1.3.2
requests==2.32.0
psutil==5.9.5
numpy==1.26.0
pandas==2.2.2
scipy==1.14.0
matplotlib==3.8.0
seaborn==0.13.2
jupyterlab==4.0.11
ipywidgets==8.1.1
librosa==0.10.2.post1
mir_eval==0.7
ray==2.34.0
tensorflow==2.14.0
tensorboard==2.14.0
scikit-learn==1.5.1
gradio==5.0.0
pyarrow==17.0.0
typing-extensions==4.8.0
pydantic==2.8.2
pydantic-core==2.20.1
pillow==10.3.0
audioread==3.0.1
jams==0.3.4
joblib==1.4.2
muda==0.4.1
pescador==3.0.0
pumpp==0.6.0
pysoundfile==0.9.0.post1
soundfile==0.12.1
sox==1.5.0
samplerate==0.2.1
resampy==0.4.3
